body{
    background-color: #eaf8f5;
    color: #84bcbf;
}
.cloud1{
    /* position: absolute; */
    margin-left: 70%;
    margin-top: 5%;
}
.cloud2{
    /* position: absolute; */
    margin-left: 15%;
    margin-top: 10rem;
}
.hill{
    position: absolute;
    bottom: 0;
   
    
    left:50%;
    transform:translate(-50%, 0);
}
.whoiam{
    text-align: center;
    margin-top: 15rem;
}
@font-face{
    font-family: 'Sacramento';
    src: url('../Fonts/sacramento/Sacramento.ttf');

}
@font-face {
    font-family: 'Bowler';
    src: url('../Fonts/bowler/Bowler.ttf');

    font-style: normal;
    font-weight: 1000;
}
h1{
    font-family: "Sacramento";
}
h3{
    font-family: "Bowler";
}
